<div id="frontmatter">
    From: <%= data.from %><br />
    Subject: <%= data.subject %><br />
    Preview: <%= data.preview %><br />
    utm_source: <%= data.utm_source %><br />
    Last updated: <%= Date().toString().split("GMT")[0]; %><br />
    <%# this is where I'd compare timestamp diff b/t build and dist, when ready %>
    ---
</div>
