<% data = getData('data.yml') _%>
<% partials = '../../core/partials/' _%>
<%- include(partials + 'html-head-body') _%>
<%# EMAIL _%>
    <a href="<%= helper.url_utm(lib.data.home_url, 'tracked+link') %>"><%= lib.data.name %></a>
    <%- include(partials + 'footer') _%>
<%# /EMAIL _%>
<%- include(partials + 'body-html-close') _%>
