<% if(!production){ %>
<div id="frontmatter-wrapper">
    <div id="frontmatter">
        <div style="margin-bottom: 0.5em">
            From: <%= data.from %><br />
            Reply: <%= data.reply %><br />
        </div>
        <div style="margin-bottom: 0.5em">
            <%- include('view-source') %>
            utm_source: <%= data.utm_source %><br />
            Last updated: <%= Date().toString().split("GMT")[0]; %><br />
        </div>
        Subject: <%= data.subject %><br />
    </div>
</div>
<% } %>
